# EditorConfig is awesome: https://EditorConfig.org

# Top-most EditorConfig file
root = true

# Unix-style newlines with a newline ending every file
[*]
end_of_line = lf
insert_final_newline = true

# Matches multiple file extensions
[*.{php,css,js,html}]
charset = utf-8
indent_style = space
indent_size = 4
trim_trailing_whitespace = true

# PHP files
[*.php]
# Use 4 spaces for indentation in PHP files
indent_style = space
indent_size = 4

# CSS files
[*.css]
# Use 2 spaces for indentation in CSS files
indent_style = space
indent_size = 2

# JavaScript files
[*.js]
# Use 2 spaces for indentation in JavaScript files
indent_style = space
indent_size = 2

# JSON files
[*.json]
indent_style = space
indent_size = 2
insert_final_newline = true
trim_trailing_whitespace = true

# HTML files
[*.html]
indent_style = space
indent_size = 4

# Markdown files
[*.md]
trim_trailing_whitespace = false